<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>
   {% load static %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
   
</head>
<body>
<h1 style="color: aqua">gallery</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium ad aperiam atque doloribus eos est facilis in ipsum itaque nobis officiis possimus provident qui reiciendis repellat tenetur, voluptatem voluptates.</p>

<div class="main">
    <img src="{% static 'assets/resources/img_7.png' %}" alt="">
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi nam perferendis recusandae! Accusamus cum eveniet excepturi harum illo ipsum magni modi nisi, nostrum odio, officia placeat quae, soluta tempora voluptate!</span><span>Adipisci amet assumenda, at eaque earum impedit necessitatibus neque officiis, quasi quis rem repudiandae saepe voluptate. Delectus eius eligendi facilis fugit itaque iusto, maiores minima recusandae tempora unde, ut voluptatem!</span></p>
    
    
    
</div>

<div>
    <img src="{% static 'assets/resources/img_8.png' %}" alt="">
    <img src="{% static 'assets/resources/img_9.png' %}" alt="">
    <img src="{% static 'assets/resources/img_10.png' %}" alt="">
    
    
</div>





</body>
</html>