<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personal details</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
    
    
</head>
<body>


<h1 class="text-danger text-center">PRODUCT INFORMATION</h1>
<p class="m-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dignissimos, doloribus dolorum ducimus eaque eos explicabo illum impedit ipsa iusto, rerum sequi tempore temporibus. Iusto maxime nobis ratione soluta voluptas?</p>
<table class="table table-striped table-hover table-dark">
    <h2 class="text-center">products</h2>
    <tr>
    <th>Product name</th>
    <th>product quantity</th>
    <th>product quantity</th>
    <th>product price</th>
    </tr>
    
    <tr>
        <td>hp</td>
        <td>1</td>
        <td>1</td>
        <td>ksh 35000</td>  
        
        
    </tr>
    
    <tr>
        <td>remote</td>
        <td>3</td>
        <td>2</td>
        <td>ksh 40000</td> 
        
        
        
    </tr>
    
    <tr>
        <td>tv</td>
        <td>3</td>
        <td>3</td>
        <td>ksh 70000</td>
        
        
        
    </tr>
    
    
    
    
</table>

</body>
</html>